<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.mapper.ScheduleMapper">

    <select id="selectSchedulePage" resultType="com.hospital.entity.Schedule">
        SELECT s.*, d.name as doctor_name, dept.name as dept_name
        FROM schedule s
        LEFT JOIN doctor d ON s.doctor_id = d.id
        LEFT JOIN department dept ON d.dept_id = dept.id
        WHERE s.deleted = 0 AND d.deleted = 0 AND dept.deleted = 0
        <if test="doctorId != null">
            AND s.doctor_id = #{doctorId}
        </if>
        <if test="deptId != null">
            AND d.dept_id = #{deptId}
        </if>
        <if test="startDate != null and startDate != ''">
            AND s.date &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND s.date &lt;= #{endDate}
        </if>
        ORDER BY s.date DESC, s.period ASC
    </select>
</mapper>
